<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.DotNet.InternalAbstractions" version="1.0.0-dev-001606" targetFramework="net452" />
  <package id="Microsoft.DotNet.ProjectModel" version="1.0.0-dev-001606" targetFramework="net452" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.Extensions.DependencyModel" version="1.0.0-dev-001606" targetFramework="net452" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="1.0.0-rc2-16053" targetFramework="net452" />
  <package id="Microsoft.Extensions.PlatformAbstractions" version="1.0.0-rc2-16563" targetFramework="net452" />
  <package id="newtonsoft.json" version="7.0.1" targetFramework="net452" />
  <package id="NuGet.Common" version="3.4.0-beta-632" targetFramework="net452" />
  <package id="NuGet.Frameworks" version="3.4.0-beta-632" targetFramework="net452" />
  <package id="NuGet.Logging" version="3.4.0-beta-632" targetFramework="net452" />
  <package id="NuGet.Packaging" version="3.4.0-beta-632" targetFramework="net452" />
  <package id="NuGet.Packaging.Core" version="3.4.0-beta-632" targetFramework="net452" />
  <package id="NuGet.Packaging.Core.Types" version="3.4.0-beta-632" targetFramework="net452" />
  <package id="NuGet.Versioning" version="3.4.0-beta-632" targetFramework="net452" />
  <package id="System.Collections" version="4.0.0" targetFramework="net452" />
  <package id="System.Collections.Immutable" version="1.1.37" targetFramework="net452" />
  <package id="System.Diagnostics.Debug" version="4.0.0" targetFramework="net452" />
  <package id="System.Globalization" version="4.0.0" targetFramework="net452" />
  <package id="System.Linq" version="4.0.0" targetFramework="net452" />
  <package id="System.Reflection.Metadata" version="1.2.0-rc2-23811" targetFramework="net452" />
  <package id="System.Resources.ResourceManager" version="4.0.0" targetFramework="net452" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net452" />
  <package id="System.Runtime.Extensions" version="4.0.0" targetFramework="net452" />
  <package id="System.Threading" version="4.0.0" targetFramework="net452" />
</packages>